<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Sabitleme</title>
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   
       
        <footer class="footer bg-footer-image text-center text-lg-start">
            <div class="container p-4">
                <!-- Grid row -->
                <div class="footer-column">
                    <p>
                    Mara Mühendislik'in tasarım felsefesi, çarpıcı, enerji verimliliği yüksek, düşük karbon emisyonlu, yatırımcı için ekonomik, kullanıcı için teknolojik ve uzun ömürlü mekanlar oluşturmaktır. Bu ilkelerle, yenilikçi ve sürdürülebilir projeler geliştiriyoruz.
                    </p>
                </div>
                <!-- Grid column -->
                <div class="links-column text-light">
                    <h5 class="text-uppercase pb-3 pt-4">İletişim Bilgilerimiz</h5>
                    <ul class="list-unstyled mb-0">
                    <li><a href="tel:+905525021601" class=" ">+90 (552) 502 16 01</a></li>
                    <li><a href="mailto:maramuhendislik@gmail.com" class=" ">maramuhendislik@gmail.com</a></li>

                    </ul>
                <p>Üçevler Mahallesi Eray Sokak No:5 Daire:2, Laloğlu Plaza,</p>
                <p>Nilüfer/Bursa</p>
                </div>
                <!-- Grid column -->
            </div>

            <hr class="cizgi-footer" />

            <div class="container footer-telif p-4 pb-5">
            <a class="text-light footer-telif-column links-colum" href="/">© 2021 Mara Mühendislik Orijinal Web Sitesidir. Tüm Hakları Saklıdır.</a>
                <div class="social-icons text-light">
                <a href="https://www.instagram.com/maramuhendislik/" class="social-icons-space" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                        </a>
                <a href="#" class="social-icons-space">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a> 
                </div>
            </div>
        </footer>
    
</body>
</html>
