<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Sabitleme</title>
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
</head>
<body>
    <div id="main-container">
        <div class="content">
            <!-- Diğer içerikleriniz buraya gelecek -->
        </div>
        <footer class="footer bg-footer-image text-center text-lg-start">
            <div class="container p-4">
                <!-- Grid row -->
                <div class="footer-column">
                    <p>
                        The company principle of Architecture-Studio is the collective conception. From the very beginning, the practice has believed in the virtues of exchange, crossing ideas, common effort, shared knowledge and enthusiasm.
                    </p>
                </div>
                <!-- Grid column -->
                <div class="links-column text-light">
                    <h5 class="text-uppercase pb-3 pt-4">İletişim Bilgilerimiz</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="#!" class=" ">+90(212) 486 7545</a></li>
                        <li><a href="#!" class=" ">info@bahadirkul.com</a></li>
                    </ul>
                    <p>Etiler Mah. Toprakkale Sok. No:15, Bina:Etiler 253, Kat:1, Daire:3,</p>
                    <p>Etiler/İSTANBUL</p>
                </div>
                <!-- Grid column -->
            </div>

            <hr class="cizgi-footer" />

            <div class="container footer-telif p-4 pb-5">
                <a class="text-light footer-telif-column links-colum" href="https://yourdomain.com/">© 2024 Telif Hakkı: yourdomain.com</a>
                <div class="social-icons text-light">
                    <a href="#!" class=" ">F</a> <!-- Facebook -->
                    <a href="#!" class=" ">I</a> <!-- Instagram -->
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
