<link rel="stylesheet" href="~/css/nav-section.css" asp-append-version="true" />
<div class="prague-header" id="header">
    <p href="/" class="logo">MARA</p>
    <div class="bx bx-menu" id="menu-icon" onclick="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
    </div>
    <ul class="navbar" id="navbar">
        <li><a href="/">Anasayfa</a></li>
        <li><a  asp-action="OurProjects" asp-controller="OurProjects">Projelerimiz</a></li>
        <li><a asp-controller="AboutUs" asp-action="Index">Hakkımızda</a></li>
        <li><a asp-controller="ContactUs" asp-action="Index" >İletişim</a></li>
    </ul>
</div>


<script>
    function toggleMenu() {
        var navbar = document.getElementById("navbar");
        if (navbar.style.display === "block") {
            navbar.style.display = "none";
            navbar.style.position = ""; // position'ı temizle
        } else {
            navbar.style.display = "block";
            navbar.style.position = "inherit"; // position'ı inherit olarak ayarla
        }
    }

    window.addEventListener('resize', function () {
        var navbar = document.getElementById("navbar");
        if (window.innerWidth > 768) {
            navbar.style.display = "flex"; // Flex layout for larger screens
            navbar.style.position = ""; // position'ı temizle
        } else {
            navbar.style.display = "none"; // Hide navbar for smaller screens
            navbar.style.position = ""; // position'ı temizle
        }
    });

    window.addEventListener('load', function () {
        var navbar = document.getElementById("navbar");
        if (window.innerWidth > 768) {
            navbar.style.display = "flex"; // Flex layout for larger screens
            navbar.style.position = ""; // position'ı temizle
        } else {
            navbar.style.display = "none"; // Hide navbar for smaller screens
            navbar.style.position = ""; // position'ı temizle
        }
    });

    window.addEventListener('scroll', function () {
        var header = document.getElementById("header");
        if (window.scrollY > 0) {
            header.style.backgroundColor = "rgba(0, 0, 0, 0.8)"; // Yarı saydam siyah
        } else {
            header.style.backgroundColor = "transparent"; // Transparan
        }
    });
</script>
